* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0c183b;
}


/*------------------------------------------ This the navigation menu--------------------------- */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 10000;
}

#header a img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    margin-left: -30%;
    margin-top: 10%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    right: -30%;
    list-style: none;
    padding: 0 50px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #ad6903;
}

.head .fas {
    display: none;
}


/* -------------------------------------------This is my home section -------------------------------------------------- */

.home-wrapper {
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
}

.home-desc {
    display: flex;
}

.home1 {
    margin-left: -5%;
    width: 50%;
}

h1 {
    color: #fff;
    font-size: 150%;
    letter-spacing: 2px;
    line-height: 3rem;
    font-weight: 500;
    justify-content: center;
}

span {
    color: #ad6903;
    font-weight: 800;
}

.home-img {
    width: 50%;
}

.home-img img {
    height: 110%;
    width: 100%;
    margin-left: 10%;
    margin-right: 30%;
    background-size: cover;
    object-fit: cover;
    border-radius: 5%;
    opacity: .2;
    display: block;
}

.home-img img:hover {
    opacity: .5;
}

.download {
    border: none;
    outline: none;
    background: rgb(173, 105, 3);
    background: linear-gradient(90deg, rgba(173, 105, 3, 1) 2%, rgba(69, 67, 67, 1) 99%);
    margin: 4rem 0 0 0;
    padding: 5% 10%;
    text-align: center;
    width: 50%;
    text-transform: uppercase;
    font-size: 60%;
    font-weight: 800;
    border-radius: 10px;
    margin-top: 45%;
}

.download:hover {
    opacity: .7;
}

.download a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.social-icon {
    display: flex;
    margin-left: 15%;
    margin-top: 5%;
}

.linkedin {
    padding: 0 4% 0 0;
}

.linkedin img {
    height: 40px;
    width: 40px;
}

.linkedin:hover {
    opacity: .5;
}

.github a img {
    height: 40px;
    width: 40px;
}

.github:hover {
    opacity: .5;
}


/* ------------------------------------------------This is my about section ---------------------------- */

#about {
    height: 600px;
    width: auto;
}

h2 {
    text-align: center;
    color: white;
    margin-left: 5%;
    margin-top: 15%;
    line-height: 2rem;
    cursor: pointer;
    margin-bottom: 5%;
}

.section-title::before {
    content: "--------------";
}

.section-title::after {
    content: "--------------";
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
}

.about-info {
    background-color: #101f4e;
    height: 400px;
    width: 40%;
    border-radius: 5%;
}

.about-info:hover {
    box-shadow: 60px 60px 60px rgba(0, 0, 0, 0.25);
}

.about-info p {
    justify-content: center;
    text-align: justify;
    line-height: normal;
    font-size: 110%;
    font-weight: 400;
    color: rgb(239, 238, 238);
    padding: 20px;
}

.about-img {
    width: 60% auto;
}

.about-img img {
    margin-top: -5%;
    margin-left: -50%;
    height: 500px;
    width: 300px;
    background-size: cover;
    object-fit: cover;
    border-radius: 1000%;
    box-shadow: 60px 60px 60px rgba(56, 55, 55, 0.25);
}

.about-img:hover {
    opacity: .5;
}


/* ----------------------------------------------------------This is my portfolio section ------------------------------- */

.portfolio .section-title {
    color: white;
}

.portfolio .section-title::before {
    content: "--------------";
}

.portfolio .section-title::after {
    content: "--------------";
}

.portfolio .my projects {
    color: var(--text-color2);
}

.portfolio-info p {
    line-height: 2rem;
    font-size: 100%;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 2%;
    margin-top: -4%;
}

.row {
    display: flex;
    flex-direction: row;
    /* background-color: #ad6903; */
    padding: 0 10% 1% 10%;
}

.card {
    width: 80%;
    height: auto;
    background-color: #182537;
}

.card-thumbnail img {
    width: 100%;
    height: 300px;
    background-size: cover;
    object-fit: cover;
}

.card-content {
    padding: 5px;
    width: 100%;
}

.card-header {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 450;
    margin: 1rem 0;
}

.card-content h6 {
    color: #fff;
    font-weight: 800;
}

.card-content p {
    color: #a7a7a7;
}

.card-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    background-color: rgb(38, 65, 65);
}

.proj-code {
    display: flex;
}

.proj-view a {
    text-decoration: none;
    padding: .2rem 1rem;
    background: rgb(173, 105, 3);
    background: linear-gradient(7deg, rgba(173, 105, 3, 1) 2%, rgba(69, 67, 67, 1) 99%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.proj-code .proj-view:hover {
    opacity: .5;
}

.prev {
    margin-right: 1rem;
}

.proj-tools {
    display: flex;
}

.js {
    padding: 0 .5rem;
}

.js img {
    width: 15px;
    height: 15px;
}

.html {
    padding: 0 .5rem;
}

.html img {
    width: 15px;
    height: 15px;
}

.css {
    padding: 0 .5rem;
}

.css img {
    width: 15px;
    height: 15px;
}

.xd {
    padding: 0 .5rem;
}

.xd img {
    width: 15px;
    height: 15px;
}

.proj-tools .js:hover {
    opacity: .5;
}

.proj-tools .html:hover {
    opacity: .5;
}

.proj-tools .css:hover {
    opacity: .5;
}

.proj-tools .xd:hover {
    opacity: .5;
}


/* -----------------------------------------------------This is the contact section ----------------------------- */

.contact .section-title {
    text-align: center;
    color: white;
    margin-left: 5%;
    margin-top: 15%;
    line-height: 2rem;
    cursor: pointer;
    margin-bottom: 5%;
    font-weight: 700;
    font-size: 150%;
    margin-bottom: -10%;
}

.contact .section-title::before {
    content: "--------------";
}

.contact .section-title::after {
    content: "--------------";
}

.contact {
    margin: 4rem 0;
}

.contact {
    text-align: center;
}

#contact-tle {
    text-align: left;
}

.inform {
    color: #ad6903;
}

.intouch {
    margin-top: -3%;
    color: #ad6903;
    text-align: center;
}

.contact-content {
    padding: 30px;
    height: 400px;
    width: 100%;
    background: #101f4e;
}

.input-data {
    margin: .65rem 0;
}

.input-data input {
    font-size: 14px;
    width: 100%;
    color: whitesmoke;
    padding: .85rem .35rem;
    outline: none;
    border: 1px solid #fff;
    border-radius: 2%;
    width: 80%;
    background: none;
    outline: none;
}

.input-data input::placeholder {
    font-size: 16px;
    text-transform: capitalize;
}

.description input {
    height: 80px;
}

.btn-submit {
    padding: .75rem 4rem;
    background: rgb(173, 105, 3);
    background: radial-gradient(circle, rgba(173, 105, 3, 1) 2%, rgba(69, 67, 67, 1) 99%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin: 3%;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 2%;
}

.btn-submit:hover {
    opacity: .5;
}


/* ----------------------------------------------------This is the footer section --------------------------- */

footer {
    background-color: #ad6903;
    text-align: center;
    padding: 5px 0;
    color: #fff !important;
}

.logistics {
    display: flex;
    justify-content: space-around;
}

.logistics img {
    width: 25px;
    height: auto;
}


/*----------------------------------------------------- This is my small screen section ------------------------------ */

@media only screen and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /*------------------------- This is my navigation section ------------------- */
    #header {
        width: 100%;
    }
    #header a img {
        height: 20%;
        width: 40%;
        margin-left: -15%;
        margin-top: 10%;
    }
    #content {
        height: max-content;
        background: #101f4e;
    }
    .head {
        float: right;
    }
    .head ul {
        background: #101f4e;
        position: fixed;
        display: block;
        flex-direction: column;
        margin-top: -4%;
        right: -200px;
        height: 60vh;
        border-bottom-left-radius: 10%;
        z-index: 2;
        transition: right 0.5s;
    }
    .head ul li a {
        display: block;
        flex-direction: column;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    #navbar li a.active::after,
    #navbar li a:hover::after {
        height: 0px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }
    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #555;
        color: white;
    }
    .head .fas {
        display: block;
        color: white;
        cursor: pointer;
    }
    .head ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    /*-------------------------------------------- This is my home section ---------------------------------------------- */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .home-wrapper {
        height: 900px;
    }
    .home-text {
        width: 100%;
        margin-top: 30%;
    }
    h1 {
        display: block;
        margin-top: 200px;
        font-size: 80%;
        letter-spacing: 2px;
        margin-bottom: 30%;
        width: 250px;
    }
    .social-icon img {
        height: 20px;
        width: 20px;
    }
    .github a img {
        height: 20px;
        width: 20px;
    }
    .home-img {
        width: 0;
    }
    .home-img img {
        display: none;
    }
    .download {
        margin-top: 120px;
        width: 100%;
        height: 70px;
    }
    /* ----------------------------This is my about section ------------------------- */
    #about {
        width: 90%;
    }
    h2 {
        text-align: center;
        font-size: 18px;
        color: white;
        margin-top: 10%;
        cursor: pointer;
        margin-bottom: 5%;
        margin-left: -10%;
    }
    .section-title::before {
        content: "----------";
    }
    .section-title::after {
        content: "----------";
    }
    .about-content {
        display: block;
        flex-direction: column;
        width: 90%;
        padding: 10px;
    }
    .about-info {
        background-color: #101f4e;
        height: 80%;
        width: 90%;
        border-radius: 5%;
    }
    .about-info:hover {
        box-shadow: 60px 60px 60px rgba(70, 39, 39, 0.25);
    }
    .about-info p {
        justify-content: center;
        padding: 30px;
        text-align: justify;
        line-height: 1rem;
        font-size: 10px;
        font-weight: 300;
        color: rgb(239, 238, 238);
    }
    .about-img {
        width: 90%;
    }
    .about-img img {
        margin-top: 4%;
        margin-left: 20%;
        margin-right: 20%;
        height: 400px;
        width: 60%;
        background-size: cover;
        object-fit: cover;
        border-radius: 1000%;
        align-content: center;
    }
    .about-img:hover {
        opacity: .5;
    }
    /*------------------------------------------- This is my portfoliio section --------------------------------- */
    .portfolio h2 {
        margin-top: 60%;
    }
    .portfolio-info p {
        width: 100%;
        text-align: center;
        padding: 0 4%;
    }
    .row {
        display: block;
        flex-direction: column;
        padding: 10px;
        margin-left: 15%;
    }
    .card {
        width: 80%;
        height: auto;
        background-color: #182537;
        margin-bottom: 10%;
    }
    .card-thumbnail img {
        width: 100%;
        height: 300px;
        background-size: cover;
        object-fit: cover;
    }
    .card-content {
        padding: 5px;
        width: 100%;
    }
    .card-header {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 450;
        margin: 1rem 0;
    }
    .card-content h6 {
        color: #fff;
        font-weight: 800;
    }
    .card-content p {
        color: #a7a7a7;
    }
    .card-footer {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        background-color: rgb(38, 65, 65);
    }
    .proj-code {
        display: flex;
    }
    .proj-view a {
        text-decoration: none;
        padding: .2rem 1rem;
        background: rgb(173, 105, 3);
        background: linear-gradient(7deg, rgba(173, 105, 3, 1) 2%, rgba(69, 67, 67, 1) 99%);
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
    .proj-code .proj-view:hover {
        opacity: .5;
    }
    .prev {
        margin-right: 1rem;
    }
    .proj-tools {
        display: flex;
    }
    .js {
        padding: 0 .5rem;
    }
    .js img {
        width: 15px;
        height: 15px;
    }
    .html {
        padding: 0 .5rem;
    }
    .html img {
        width: 15px;
        height: 15px;
    }
    .css {
        padding: 0 .5rem;
    }
    .css img {
        width: 15px;
        height: 15px;
    }
    .xd {
        padding: 0 .5rem;
    }
    .xd img {
        width: 15px;
        height: 15px;
    }
    /* --------------------------------------------This is the contact section ------------------------------------- */
    .contact .section-title {
        text-align: center;
        justify-content: center;
        color: white;
        margin-left: 0;
        margin-top: 0;
        line-height: 2rem;
        cursor: pointer;
        font-weight: 700;
        margin-bottom: 5%;
    }
    .contact .section-title::before {
        content: "---------";
    }
    .contact .section-title::after {
        content: "---------";
    }
    .contact {
        margin: 4rem 0;
    }
    .contact {
        text-align: center;
    }
    #contact-tle {
        text-align: left;
    }
    .inform {
        color: #ad6903;
        text-align: center;
    }
    .intouch {
        margin-top: 30%;
        color: #ad6903;
        text-align: center;
        font-size: 80%;
        margin-top: -5%;
        margin-bottom: 15%;
    }
    .contact-content {
        padding: 30px;
        height: 300;
        width: 100%;
        background: #101f4e;
    }
    .input-data {
        margin: 0 0;
    }
    .input-data input {
        font-size: 14px;
        width: 80%;
        color: whitesmoke;
        padding: .85rem .35rem;
        outline: none;
        border: 1px solid #fff;
        border-radius: 2%;
        background: none;
        outline: none;
    }
    .input-data input::placeholder {
        font-size: 16px;
        text-transform: capitalize;
    }
    .description input {
        height: 80px;
    }
    .btn-submit {
        padding: .75rem 4rem;
        background: rgb(173, 105, 3);
        background: radial-gradient(circle, rgba(173, 105, 3, 1) 2%, rgba(69, 67, 67, 1) 99%);
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        margin: 3%;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 2%;
    }
    .btn-submit:hover {
        opacity: .5;
    }
    /* ------------------------------------This is the footer section ----------------------------- */
    footer {
        background-color: #ad6903;
        text-align: center;
        justify-content: center;
        color: #fff !important;
        width: 100%;
    }
    .logistics {
        display: block;
        flex-direction: column;
        column-gap: 20px;
        text-align: center;
    }
    .logistics img {
        width: 25px;
        height: auto;
    }
}